<div class="tournament-hub__header">
    <h1>Tournament Hub</h1>
</div>
<div class="tournament-hub__container">
    <div class="tournament-hub__main">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Kachow Kup</mat-card-title>
                <mat-card-subtitle>A monthly (?) hosted by Kachow Gaming</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>Ste. Genevieve, MO</p>
            </mat-card-content>6
        </mat-card>

        <mat-card>
            <mat-card-header>
                <mat-card-title>Gaming Grounds Monthly</mat-card-title>
                <mat-card-subtitle>Monthly hosted the first Saturday of each month.</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>Cape Girardeau, MO</p>
            </mat-card-content>
            </mat-card>

            <mat-card>
                <mat-card-header>
                    <mat-card-title>SEMO Smash Arcadian</mat-card-title>
                    <mat-card-subtitle>Our quarterly end-of-season tournament</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>Perryville, MO</p>
                </mat-card-content>
                </mat-card>


    </div>
    <div class="tournament-hub__schedule">
        <app-tournament-schedule></app-tournament-schedule>
    </div>

</div>