/* Small format display styles */

@media screen and (max-width: 1100px) {
  
  .mat-card {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    border-radius: 4px; /* Slightly increase the border-radius for rounded corners */
    width: 37vw;
    height: 6vh;
    position: relative; /* Add relative positioning for pseudo-elements */
    background-size: cover;
    background-position: center;
    color:#f2f2f2;
    border: 1px solid #D3D3D3;
  }
  
  .mat-card-title{
    margin: auto;
    font-size: .75em;
    font-weight: bold;
    color: #fff;
    background-color: #000;
  }

  .picked {
    height: 20vh;
    width: 69vw;
  }
  
  
}


.small-italic-starter {
  font-size: 0.8em; /* adjust as needed */
  font-style: italic;
}

.small-italic-counterpick {
  font-size: 0.8em; /* adjust as needed */
  font-style: italic;

}

/* Large format display styles */
@media screen and (min-width: 1101px) {
  .mat-card {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    width: 25vw;
    min-height: 20vh;
    text-align: center;
    background-size: cover;
    background-position: center;
    img {
      width: 90%;
      height: 90%;
    }
  }
  .mat-card-title{
    font-size: 1em;
    font-weight: bold;
    color: #fff;
    background-color: #000;
  }

  .banned-text {
    font-size: 2em;
    font-weight: bold;
    margin-top: 24px !important;
  }

  .picked {
    height: 55vh;
    width: 69vw;
  }
}



.banned-image {
  filter: grayscale(100%);
}

.unbanned {
  filter: none;
}