.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #1a1a1a;
  color: #999;
  padding: 5px 0;
  border-top: 1px solid #333;
}

.made-with-love-by-mb {
    font-size: 6pt;
}

.cats-too {
    font-size: 1pt;
}

