<div class="banner-card">
    <!-- TODO: make this a carousel on desktop-->
    <mat-card>
        <mat-card-header>
            <p class="banner-card__subject">{{subject}}</p>
        </mat-card-header>
        <div class="banner-card__content">
            <div class="banner-card__icon">
                <img src="{{bannerIcon}}">
            </div>
            <div class="banner-card__text">
                <p class="banner-card__info">{{info}}</p>
            </div>
        </div>
        <div class="banner-card__link">
            <a href="{{link}}">{{linkText}}</a>
        </div>
    </mat-card>
</div>