<div class="stage-list__header" *ngIf="!selectedStage && !isPicking">
  Tap a stage to ban. You may ban up to three stages.
  <button class="no-bans-button" (click)="handleNoBans()">No Bans</button>
</div>
<div class="stage-list__header" *ngIf="!selectedStage && !isBanning" >
  Tap a stage to pick.
  </div>
<div *ngIf="!selectedStage" class="stage-list__container">
    <div *ngFor="let stage of starterStages">
      <app-stage-card
        [stage]="stage"
        [isPicking]="isPicking"
        (stageBanned)="handleStageBanned($event)"
        (stageUnbanned)="handleStageUnbanned($event)"
        (stagePicked)="handleStagePick($event)">
      </app-stage-card>
    </div>
</div>

<mat-divider *ngIf="!selectedStage"></mat-divider>

<div *ngIf="!selectedStage" class="stage-list__container">
  <div *ngFor="let stage of counterpickStages">
    <app-stage-card
      [stage]="stage"
      [isPicking]="isPicking"
      (stageBanned)="handleStageBanned($event)"
      (stageUnbanned)="handleStageUnbanned($event)"
      (stagePicked)="handleStagePick($event)">
    </app-stage-card>
  </div>
</div>

<div class="selected-stage__container">
  <!-- This div will be hidden until a stage is picked, then show that stage in a bigger card-->
  <div *ngIf="selectedStage" class="selected-stage__card">
    <app-stage-card
      [stage]="selectedStage"
      [isPicking]="isPicking"
      (stageBanned)="handleStageBanned($event)"
      (stageUnbanned)="handleStageUnbanned($event)"
      (stagePicked)="handleStagePick($event)">
    </app-stage-card>
</div>

<div class="stage-list__footer">
  <button class="reset-bans-button" (click)="resetBanList()">Reset Picks and Bans</button>
</div>