<div *ngIf="!selectedStage" class="stage-list__container">
    <div *ngFor="let stage of starterStages">
      <app-stage-card
        [stage]="stage"
        [isPicking]="isPicking"
        (stageBanned)="handleStageBanned($event)"
        (stageUnbanned)="handleStageUnbanned($event)"
        (stagePicked)="handleStagePick($event)">
      </app-stage-card>
    </div>
</div>

<mat-divider *ngIf="!selectedStage"></mat-divider>

<div *ngIf="!selectedStage" class="stage-list__container">
  <div *ngFor="let stage of counterpickStages">
    <app-stage-card
      [stage]="stage"
      [isPicking]="isPicking"
      (stageBanned)="handleStageBanned($event)"
      (stageUnbanned)="handleStageUnbanned($event)"
      (stagePicked)="handleStagePick($event)">
    </app-stage-card>
  </div>
</div>

<div *ngIf="selectedStage" class="selected-stage__container">
  <h2>Selected Stage: </h2>
  <!-- This div will be hidden until a stage is picked, then show that stage in a bigger card-->
  <div class="selected-stage__card">
    <app-stage-card
      [stage]="selectedStage"
      [isPicking]="isPicking"
      [isPicked]="true"
      (stageBanned)="handleStageBanned($event)"
      (stageUnbanned)="handleStageUnbanned($event)"
      (stagePicked)="handleStagePick($event)">
    </app-stage-card>
</div>
</div>

<div class="stage-list__footer">
  <div class="stage-list_footer-banner">
    <div class="stage-list__footer-text" *ngIf="!selectedStage && !isPicking">
      Tap a stage to ban. You may ban up to three stages.
    </div>
    <div class="stage-list__footer-text" *ngIf="!selectedStage && !isBanning" >
      Tap a stage to pick.
    </div>
  </div>
  <div class="stage-list__footer-button-container">
    <button class="stage-list__footer-button" (click)="resetBanList()">Reset</button>
    <button *ngIf="isBanning" class="stage-list__footer-button" (click)="handleNoBans()">No Bans</button>
  </div>
</div>