<div class="tournaments-layout">
  <!-- Secondary sidebar for tournaments -->
  <ng-container *ngIf="isMobile; else desktopLayout">
    <div class="tournaments-main-mobile">
      <div class="tournaments-sidebar-header">
        <h2>Monthly SEMO Tournaments</h2>
      </div>
      <div class="tournament-info-notice">
        <p><strong>💡 Pro tip:</strong> Click any tournament name to view the most recent event on start.gg!</p>
      </div>
      <div class="tournaments-cards-container">
        <app-menu-card [headerText]="'Raffle Rumble'"
            [timingText]="'Typically second or third Saturday of the month (at times may vary)'"
            [locationText]="'STG Cards & Collectables in Cape Girardeau, MO'"
            [url]="'https://www.start.gg/raffle-rumble'"
            [sidebarStyle]="true"
            [secondarySidebar]="true"></app-menu-card>
        <app-menu-card [headerText]="'Kachow Kup'" 
            [timingText]="'New Saturday dates coming soon!'"
            [locationText]="'Above Common Grounds in Ste. Genevieve, MO'"
            [url]="'https://start.gg/kachow-kup'"
            [sidebarStyle]="true"
            [secondarySidebar]="true"></app-menu-card>
      </div>
      <div class="tournaments-sidebar-header special-events-header">
        <h2>Special Events</h2>
      </div>
      <div class="tournaments-cards-container special-events-container">
        <app-menu-card [headerText]="'SEMO Smash Arcadian'"
            [timingText]="'End of each season'"
            [locationText]="'Players listed on the SEMO PR or another regional PR in 2024 or 2025 not allowed to participate.'"
            [url]="'#'"
            [isDisabled]="true"
            [disabledStatusText]="'Coming End of Season'"
            [disabledMessage]="'Stay tuned for updates!'"
            [sidebarStyle]="true"
            [secondarySidebar]="true"></app-menu-card>
        <app-menu-card [headerText]="'SEMO Smash Invitational'"
            [timingText]="'End of each season'"
            [locationText]="'Our top 12 ranked players make one final push to prove they deserve the top spot!'"
            [url]="'#'"
            [isDisabled]="true"
            [disabledStatusText]="'Coming End of Season'"
            [disabledMessage]="'Stay tuned for updates!'"
            [sidebarStyle]="true"
            [secondarySidebar]="true"></app-menu-card>
        <app-menu-card [headerText]="'▓░e ▒B█▓░▓i▒na▓'"
            [timingText]="'█▓░mi▒ ▓▓y█▓ ░nv▓▒▓▓▓o▓▓▓'"
            [locationText]="'▒▓s ▓a▓▓me▓t'"
            [url]="'#'"
            [isDisabled]="true"
            [disabledStatusText]="'▓░st▒m ▓▓rr▓pt▒d'"
            [disabledMessage]="'▒▓s ▓a▓▓me▓t'"
            [sidebarStyle]="true"
            [secondarySidebar]="true"
            [ngClass]="'glitched-event'"></app-menu-card>
      </div>
      <div class="tournaments-sidebar-header special-events-header">
        <h2>Conventions</h2>
      </div>
      <div class="tournaments-cards-container special-events-container">
        <app-menu-card [headerText]="'Heartland Arena'"
            [timingText]="'Heartland\'s Annual Gaming Convention'"
            [locationText]="'Cape Girardeau, MO'"
            [url]="'https://start.gg/heartland-arena-heartland-gaming-con'"
            [isDisabled]="true"
            [disabledStatusText]="'Returning in 2026!'"
            [disabledMessage]="'Check back next year!'"
            [sidebarStyle]="true"
            [secondarySidebar]="true"></app-menu-card>
        <app-menu-card [headerText]="'Heroes for Kids'"
            [timingText]="'Annual Comic Convention benefitting local charities'"
            [locationText]="'Perry Park Center in Perryville, MO'"
            [url]="'https://start.gg/heroes-for-kids'"
            [isDisabled]="true"
            [disabledStatusText]="'Check back next year!'"
            [sidebarStyle]="true"
            [secondarySidebar]="true"></app-menu-card>
      </div>
    </div>
  </ng-container>
  <ng-template #desktopLayout>
    <div class="tournaments-sidebar">
      <div class="tournaments-sidebar-header">
        <h2>Monthly SEMO Tournaments</h2>
      </div>
      <div class="tournament-info-notice">
        <p><strong>💡 Pro tip:</strong> Click any tournament name to view the most recent event on start.gg!</p>
      </div>
      <div class="tournaments-cards-container">
        <app-menu-card [headerText]="'Raffle Rumble'"
            [timingText]="'Typically second or third Saturday of the month (at times may vary)'"
            [locationText]="'STG Cards & Collectables in Cape Girardeau, MO'"
            [url]="'https://www.start.gg/raffle-rumble'"
            [sidebarStyle]="true"
            [secondarySidebar]="true"></app-menu-card>
        <app-menu-card [headerText]="'Kachow Kup'" 
            [timingText]="'New Saturday dates coming soon!'"
            [locationText]="'Above Common Grounds in Ste. Genevieve, MO'"
            [url]="'https://start.gg/kachow-kup'"
            [sidebarStyle]="true"
            [secondarySidebar]="true"></app-menu-card>
        <!-- <app-menu-card [headerText]="'Underground Smash'" 
            [timingText]="'Third Saturday of the month'"
            [locationText]="'Park Hills, MO'"
            [url]="'#'"
            [isDisabled]="true"
            [disabledStatusText]="'On Indefinite Hiatus'"
            [disabledMessage]="'But at least now I get home before 2:00 am on Tuesdays.'"
            [sidebarStyle]="true"
            [secondarySidebar]="true"></app-menu-card> -->
      </div>
      
      <div class="tournaments-sidebar-header special-events-header">
        <h2>Special Events</h2>
      </div>
      <div class="tournaments-cards-container special-events-container">
        <app-menu-card [headerText]="'SEMO Smash Arcadian'"
            [timingText]="'End of each season'"
            [locationText]="'Players listed on the SEMO PR or another regional PR in 2024 or 2025 not allowed to participate.'"
            [url]="'#'"
            [isDisabled]="true"
            [disabledStatusText]="'Coming End of Season'"
            [disabledMessage]="'Stay tuned for updates!'"
            [sidebarStyle]="true"
            [secondarySidebar]="true"></app-menu-card>
        <app-menu-card [headerText]="'SEMO Smash Invitational'"
            [timingText]="'End of each season'"
            [locationText]="'Our top 12 ranked players make one final push to prove they deserve the top spot!'"
            [url]="'#'"
            [isDisabled]="true"
            [disabledStatusText]="'Coming End of Season'"
            [disabledMessage]="'Stay tuned for updates!'"
            [sidebarStyle]="true"
            [secondarySidebar]="true"></app-menu-card>
        <app-menu-card [headerText]="'▓░e ▒B█▓░▓i▒na▓'"
            [timingText]="'█▓░mi▒ ▓▓y█▓ ░nv▓▒▓▓▓o▓▓▓'"
            [locationText]="'▒▓s ▓a▓▓me▓t'"
            [url]="'#'"
            [isDisabled]="true"
            [disabledStatusText]="'█▓░mi▒ ▓▓y█▓ ░nv▓▒▓▓▓o▓▓▓'"
            [disabledMessage]="'▒▓s ▓a▓▓me▓t'"
            [sidebarStyle]="true"
            [secondarySidebar]="true"
            [ngClass]="'glitched-event'"></app-menu-card>
      </div>
      
      <div class="tournaments-sidebar-header special-events-header">
        <h2>Conventions</h2>
      </div>
      <div class="tournaments-cards-container special-events-container">
        <app-menu-card [headerText]="'Heartland Arena'"
            [timingText]="'Heartland\'s Annual Gaming Convention'"
            [locationText]="'Cape Girardeau, MO'"
            [url]="'https://start.gg/heartland-arena-heartland-gaming-con'"
            [isDisabled]="true"
            [disabledStatusText]="'Returning in 2026!'"
            [disabledMessage]="'Check back next year!'"
            [sidebarStyle]="true"
            [secondarySidebar]="true"></app-menu-card>
        <app-menu-card [headerText]="'Heroes for Kids'"
            [timingText]="'Annual Comic Convention benefitting local charities'"
            [locationText]="'Perry Park Center in Perryville, MO'"
            [url]="'https://start.gg/heroes-for-kids'"
            [isDisabled]="true"
            [disabledStatusText]="'Returning in 2026!'"
            [disabledMessage]="'Check back next year!'"
            [sidebarStyle]="true"
            [secondarySidebar]="true"></app-menu-card>
      </div>
    </div>
    <div class="tournaments-main-content">
      <div class="coming-soon-section">
        <div class="simple-minecraft-banner">
          <div class="steve-container">
            <img src="../../images/assets_task_01jzs43zsxfqyaxvx5bahdtcp4_1752116183_img_0.webp" alt="Minecraft Steve" class="steve-sprite"/>
          </div>
          <div class="simple-text">
            <h2>Tournament Results Coming Soon!</h2>
            <p>Steve is hard at work mining tournament results.</p>
            <p>Click the block to give Steve one moral support.</p>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>