<div class="menu-cards-container">
    <app-menu-card [headerText]="'Raffle Rumble'"
        [infoText]="'Cape Girardeau Monthly - typically Saturday afternoon'"
        [url]="'https://www.start.gg/raffle-rumble'"></app-menu-card>
    <app-menu-card [headerText]="'Kachow Kup'" [infoText]="'Ste. Genevieve Monthly - typically Friday evening'"
        [url]="'https://start.gg/kachow-kup'"></app-menu-card>
    <app-menu-card [headerText]="'Underground Smash'" 
        [infoText]="'The Legendary Park Hills Monthly'"
        [url]="'#'"
        [isRip]="true"></app-menu-card>
</div>

<div class="results-section">
    <h2>Recent Tournament Results</h2>
    <div class="results-card">
        <p>Results will be displayed here.</p>
    </div>
</div>