<div class="power-rankings__header">
    <h2>Power Rankings</h2>
    <p>Last updated: April 20, 1991</p>
</div>
<div class="power-rankings__container">
    <div class="power-rankings__player-cards">
        <app-player-card
        [playerId]="samplePlayers[0]"
        [rank]="1">
        </app-player-card>
        <app-player-card
        [playerId]="samplePlayers[1]"
        [rank]="2">
        </app-player-card>
        <app-player-card 
        [playerId]="samplePlayers[2]"
        [rank]="3">
        </app-player-card>
        <app-player-card 
        [playerId]="samplePlayers[3]"
        [rank]="4">
        </app-player-card>
    </div>
    <div class="power-rankings__player-cards">
        <app-player-card 
        [playerId]="samplePlayers[4]"
        [rank]="5">
        </app-player-card>
        <app-player-card 
        [playerId]="samplePlayers[5]"
        [rank]="6">
        </app-player-card>
        <app-player-card 
        [playerId]="samplePlayers[6]"
        [rank]="7">
        </app-player-card>
        <app-player-card 
        [playerId]="samplePlayers[7]"
        [rank]="8">
        </app-player-card>
    </div>