@media screen and (max-width: 768px) {
  .power-rankings__container {
    gap: 8px;
    margin-top: 16px;
  }

}

@media screen and (min-width: 768px) {
  .power-rankings__container {
    align-items: center;
    gap: 8px;
    margin-top: 16px;
  }

  .power-rankings__player-cards {
    justify-content: center;
    display: flex;
    margin-top: 8px;
    gap: 8px;
  }
  
  .power-rankings__header {
    text-align: center;
    font-size: 1em;
  }

}

  
  