<mat-sidenav-container class="app-container">
  <!-- Sidebar -->
  <mat-sidenav #sidenav class="sidebar-container" [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile">
    <!-- Main navigation group -->
    <div class="sidebar-group sidebar-main">
      <app-menu-card 
        [headerText]="'Home'"
        [infoText]="''"
        [url]="'/'"
        [sidebarStyle]="true">
      </app-menu-card>
      
      <app-menu-card 
        [headerText]="'Stage List and Bans Tool'"
        [infoText]="'All SEMO Smash events use the same stage list.'"
        [url]="'stage-list-bans-full'"
        [sidebarStyle]="true">
      </app-menu-card>
      
      <app-menu-card 
        [headerText]="'Tournaments'" 
        [infoText]="'View a list of our regular events with quick links!'"
        [url]="'tournaments'"
        [sidebarStyle]="true">
      </app-menu-card>
      
      <app-menu-card 
        [headerText]="'Power Rankings'" 
        [infoText]="'See the top SEMO Smash players ranked by skill!'"
        [url]="'power-rankings'"
        [isDisabled]="true"
        [disabledStatusText]="'Coming soon!'"
        [disabledMessage]="'Power rankings feature is currently being developed.'"
        [sidebarStyle]="true">
      </app-menu-card>
      
      <app-menu-card 
        [headerText]="'Socials'" 
        [infoText]="'Connect with the SEMO Smash community online!'"
        [url]="'community'"
        [sidebarStyle]="true">
      </app-menu-card>
      
      <app-menu-card 
        [headerText]="'Streams, VODs & Content'" 
        [infoText]="'Watch tournaments, streams, and community content'"
        [url]="'streaming'"
        [sidebarStyle]="true">
      </app-menu-card>
    </div>

    <!-- Bottom group for contact and source code -->
    <div class="sidebar-group sidebar-bottom">
      <app-menu-card 
        [headerText]="'Contact'" 
        [infoText]="''"
        [url]="'mailto:mbsmashacct@gmail.com'"
        [sidebarStyle]="true">
      </app-menu-card>
      
      <app-menu-card 
        [headerText]="'Source Code'" 
        [infoText]="''"
        [url]="'https://github.com/mbsmash/cape-smash'"
        [sidebarStyle]="true">
      </app-menu-card>
    </div>
  </mat-sidenav>

  <!-- Main content area -->
  <mat-sidenav-content>
    <mat-toolbar class="mobile-toolbar" *ngIf="isMobile">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>SEMO Smash Hub</span>
    </mat-toolbar>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
<app-copyright></app-copyright>