<div class="top-half-container">
  <div class="stage-list__container">
    Tap a stage to ban.
    <div class="stage-list__header">
      <button class="reset-bans-button" (click)="resetBanList()">Reset Bans</button>
    </div>
    <ng-container *ngFor="let stage of starterStages">
      <app-stage-card
        [stage]="stage"
        (stageBanned)="handleStageBanned($event)"
        (stageUnbanned)="handleStageUnbanned($event)"
      >
      </app-stage-card>
    </ng-container>
  </div>
</div>

<mat-divider></mat-divider>

<div class="bottom-half-container">
<div class="stage-list__container">
  <ng-container *ngFor="let stage of counterpickStages">
    <app-stage-card
      [stage]="stage"
      (stageBanned)="handleStageBanned($event)"
      (stageUnbanned)="handleStageUnbanned($event)"
    >
    </app-stage-card>
  </ng-container>
</div>
</div>
