<div class="stage-list__container">
  <p>Click a stage to ban. Refresh to start over.</p>
  <div class="stage-list__header">
  </div>
  <ng-container *ngFor="let stage of starterStages">
    <app-stage-card
      [stage]="stage"
      (stageBanned)="handleStageBanned($event)"
      (stageUnbanned)="handleStageUnbanned($event)"
    >
    </app-stage-card>
  </ng-container>
</div>

<mat-divider></mat-divider>

<div class="stage-list__container">
  <ng-container *ngFor="let stage of counterpickStages">
    <app-stage-card
      [stage]="stage"
      (stageBanned)="handleStageBanned($event)"
      (stageUnbanned)="handleStageUnbanned($event)"
    >
    </app-stage-card>
  </ng-container>
</div>

