<div class="page-container">
    <app-menu-card [headerText]="'Discord Server'" [infoText]="'Click the card to join!'"
        [url]="'https://discord.gg/ye9zJAxda9'">
    </app-menu-card>

    <app-menu-card [headerText]="'MBSmash on YouTube'" [infoText]="'Tournament VODs and streams'"
        [url]="'https://www.youtube.com/@MBsmash'">
    </app-menu-card>

    <app-menu-card [headerText]="'Tournament Schedule'" [infoText]="'Coming soon!'"
        [url]="'https://youtu.be/Xb8tZUVk4T4?si=1rVsFT2Eh8Lm_3kK'">
    </app-menu-card>

    <app-menu-card [headerText]="'Twitter'" [infoText]="'It will always be called Twitter'"
        [url]="'https://twitter.com/SemoSmash'">
        </app-menu-card>
</div>