<div class="page-container">
    <!-- <app-menu-card [headerText]="'Tournament Schedule'" [infoText]="'View our upcoming events'"
        [url]="'tournament-schedule'">
    </app-menu-card> -->
    <app-menu-card [headerText]="'Discord'" [infoText]="'Click the card to join our server!'"
        [url]="'https://discord.gg/ye9zJAxda9'">
    </app-menu-card>
    <app-menu-card [headerText]="'SEMO Area Smash on Twitter'" [infoText]="'It will always be called Twitter'"
    [url]="'https://twitter.com/SemoSmash'">
</app-menu-card>
<app-menu-card [headerText]="'MBSmash on YouTube'" [infoText]="'Tournament VODs and streams'"
    [url]="'https://www.youtube.com/@MBsmash'">
</app-menu-card>
</div>