@media screen and (max-width: 768px) {
    .menu-cards-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      margin-top: 16px;
    }
  }
  
  @media screen and (min-width: 768px) {
    .menu-cards-container {
      margin: 0 16px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 16px;
      align-content: center;
      height: 50vh;
    }
}