<div class="menu-cards-container">
    <!--TODO: sort by dates, filter out events that occurred in past. Can adapt stuff used for events hub? -->
    <app-menu-card [headerText]="'SEMO Smash Arcadian and PR Invitational'"
        [infoText]="'April 20, 2024 - Perryville, MO'"
        [url]="'https://www.start.gg/tournament/semo-smash-arcadian-invitational-semo-smash-season-2-final-event/details'"></app-menu-card>
    <app-menu-card [headerText]="'Eagle\'s Lair III'" [infoText]="'May 5, 2024 - Joplin, MO'"
        [url]="'https://www.start.gg/tournament/eagle-s-lair-iii/details'"></app-menu-card>
    <app-menu-card [headerText]="'Let\'s Go Springfield 5'" [infoText]="'June 22, 2024 - Springfield, MO'"
        [url]="'https://start.gg/lgs5'"></app-menu-card>
</div>