<div class="page-container">
  <div class=banner-container>

    <app-banner [subject]="'Survey now available.'"
    [info]="'Please follow the link below to a survey about the site, so I can get a better idea of the things that are important to our community!'">
      
    </app-banner>
  </div>
<div class="menu-cards-container">
  <div class="menu-card">
    <app-menu-card
    [headerText]="'Stage List and Bans'"
    [infoText]="'Gateway Smash Rules'"
    [url]="'stage-list-bans'">
    </app-menu-card>
  </div>
  <div class="menu-card">
    <app-menu-card [headerText]="'Community'"
    [infoText]="'Resources and Links'"
    [url]="'community'">
    </app-menu-card>
  </div>
  <!-- TODO: change this back to a clickable card when Power Rankings component is complete.-->
  <div class="menu-card">
    <app-menu-card [headerText]="'Power Rankings'"
    [infoText]="'Coming Soon!'">
    </app-menu-card>
  </div>
</div>
