<div class="home-container">
  <div class="welcome-card">
    <div class="welcome-header">
      <h1>SEMO Smash Hub v2</h1>
    </div>
    <div class="welcome-content">
      <div class="greeting-section">
        <h2>Welcome to our new online portal!</h2>
        <p>Explore the sidebar to dive into our community features!</p>
        <p>Please note that this portal is under construction. Some features may not be fully implemented or work as intended. Thank you for your patience! </p>
        <p>Any feedback or issues can be reported by using the Contact link in the sidebar or by contacting MB on Discord.</p>
      </div>
    </div>
    <div class="welcome-footer">
      <p>What's new: site redesign!</p>
    </div>
  </div>
</div>
